.hero-section {
  height: 500px;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url("../images/blog-image-hero.png");
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: flex-end;
  padding-left: var(--padding-section)
}

.hero-text {
  width: 60%;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-block: 15px;
}

.hero-subtitle {
  line-height: 1.5;
  width: 90%;
}

@media (max-width: 700px) {
  .hero-section {
    height: 400px; 
    padding-inline: var(--padding-section);
  }
  
  .hero-text {
    width: 100%;
    margin-bottom: 50px;
  }

  .hero-date {
    font-size: 12px;
  }
  
  h1 {
    padding-right: 20px;
    font-size: 32px;
    font-weight: 700;
    margin-block: 10px;
  }
  
  .hero-subtitle {
    line-height: 1.5;
    width: 90%;
  }
}